<Include> 
	<File Id="AFK.ico" Name='AFK.ico' Source="Sources/Icons/AFK.ico" /> 
	<File Id="ARA.ico" Name='ARA.ico' Source="Sources/Icons/ARA.ico" /> 
	<File Id="AZE.ico" Name='AZE.ico' Source="Sources/Icons/AZE.ico" /> 
	<File Id="BEL.ico" Name='BEL.ico' Source="Sources/Icons/BEL.ico" /> 
	<File Id="BGR.ico" Name='BGR.ico' Source="Sources/Icons/BGR.ico" /> 
	<File Id="BNG.ico" Name='BNG.ico' Source="Sources/Icons/BNG.ico" /> 
	<File Id="CAT.ico" Name='CAT.ico' Source="Sources/Icons/CAT.ico" /> 
	<File Id="CHT.ico" Name='CHT.ico' Source="Sources/Icons/CHT.ico" /> 
	<File Id="CSY.ico" Name='CSY.ico' Source="Sources/Icons/CSY.ico" /> 
	<File Id="CYM.ico" Name='CYM.ico' Source="Sources/Icons/CYM.ico" /> 
	<File Id="DAN.ico" Name='DAN.ico' Source="Sources/Icons/DAN.ico" /> 
	<File Id="DEU.ico" Name='DEU.ico' Source="Sources/Icons/DEU.ico" /> 
	<File Id="DIV.ico" Name='DIV.ico' Source="Sources/Icons/DIV.ico" /> 
	<File Id="ELL.ico" Name='ELL.ico' Source="Sources/Icons/ELL.ico" /> 
	<File Id="ENA.ico" Name='ENA.ico' Source="Sources/Icons/ENA.ico" /> 
	<File Id="ENC.ico" Name='ENC.ico' Source="Sources/Icons/ENC.ico" /> 
	<File Id="ENG.ico" Name='ENG.ico' Source="Sources/Icons/ENG.ico" /> 
	<File Id="ENU.ico" Name='ENU.ico' Source="Sources/Icons/ENU.ico" /> 
	<File Id="ENZ.ico" Name='ENZ.ico' Source="Sources/Icons/ENZ.ico" /> 
	<File Id="ESP.ico" Name='ESP.ico' Source="Sources/Icons/ESP.ico" /> 
	<File Id="ETI.ico" Name='ETI.ico' Source="Sources/Icons/ETI.ico" /> 
	<File Id="EUQ.ico" Name='EUQ.ico' Source="Sources/Icons/EUQ.ico" /> 
	<File Id="FAR.ico" Name='FAR.ico' Source="Sources/Icons/FAR.ico" /> 
	<File Id="FIN.ico" Name='FIN.ico' Source="Sources/Icons/FIN.ico" /> 
	<File Id="FRA.ico" Name='FRA.ico' Source="Sources/Icons/FRA.ico" /> 
	<File Id="GLC.ico" Name='GLC.ico' Source="Sources/Icons/GLC.ico" /> 
	<File Id="GUJ.ico" Name='GUJ.ico' Source="Sources/Icons/GUJ.ico" /> 
	<File Id="HEB.ico" Name='HEB.ico' Source="Sources/Icons/HEB.ico" /> 
	<File Id="HIN.ico" Name='HIN.ico' Source="Sources/Icons/HIN.ico" /> 
	<File Id="HRV.ico" Name='HRV.ico' Source="Sources/Icons/HRV.ico" /> 
	<File Id="HUN.ico" Name='HUN.ico' Source="Sources/Icons/HUN.ico" /> 
	<File Id="HYE.ico" Name='HYE.ico' Source="Sources/Icons/HYE.ico" /> 
	<File Id="IND.ico" Name='IND.ico' Source="Sources/Icons/IND.ico" /> 
	<File Id="ISL.ico" Name='ISL.ico' Source="Sources/Icons/ISL.ico" /> 
	<File Id="ITA.ico" Name='ITA.ico' Source="Sources/Icons/ITA.ico" /> 
	<File Id="JPN.ico" Name='JPN.ico' Source="Sources/Icons/JPN.ico" /> 
	<File Id="KAN.ico" Name='KAN.ico' Source="Sources/Icons/KAN.ico" /> 
	<File Id="KAT.ico" Name='KAT.ico' Source="Sources/Icons/KAT.ico" /> 
	<File Id="KNK.ico" Name='KNK.ico' Source="Sources/Icons/KNK.ico" /> 
	<File Id="KOR.ico" Name='KOR.ico' Source="Sources/Icons/KOR.ico" /> 
	<File Id="KYR.ico" Name='KYR.ico' Source="Sources/Icons/KYR.ico" /> 
	<File Id="LTH.ico" Name='LTH.ico' Source="Sources/Icons/LTH.ico" /> 
	<File Id="LVI.ico" Name='LVI.ico' Source="Sources/Icons/LVI.ico" /> 
	<File Id="MAR.ico" Name='MAR.ico' Source="Sources/Icons/MAR.ico" /> 
	<File Id="MKI.ico" Name='MKI.ico' Source="Sources/Icons/MKI.ico" /> 
	<File Id="MLT.ico" Name='MLT.ico' Source="Sources/Icons/MLT.ico" /> 
	<File Id="MON.ico" Name='MON.ico' Source="Sources/Icons/MON.ico" /> 
	<File Id="MRI.ico" Name='MRI.ico' Source="Sources/Icons/MRI.ico" /> 
	<File Id="MSL.ico" Name='MSL.ico' Source="Sources/Icons/MSL.ico" /> 
	<File Id="MYM.ico" Name='MYM.ico' Source="Sources/Icons/MYM.ico" /> 
	<File Id="NLD.ico" Name='NLD.ico' Source="Sources/Icons/NLD.ico" /> 
	<File Id="NOR.ico" Name='NOR.ico' Source="Sources/Icons/NOR.ico" /> 
	<File Id="NSO.ico" Name='NSO.ico' Source="Sources/Icons/NSO.ico" /> 
	<File Id="PAN.ico" Name='PAN.ico' Source="Sources/Icons/PAN.ico" /> 
	<File Id="PLK.ico" Name='PLK.ico' Source="Sources/Icons/PLK.ico" /> 
	<File Id="PTB.ico" Name='PTB.ico' Source="Sources/Icons/PTB.ico" /> 
	<File Id="QUB.ico" Name='QUB.ico' Source="Sources/Icons/QUB.ico" /> 
	<File Id="ROM.ico" Name='ROM.ico' Source="Sources/Icons/ROM.ico" /> 
	<File Id="RUS.ico" Name='RUS.ico' Source="Sources/Icons/RUS.ico" /> 
	<File Id="SAN.ico" Name='SAN.ico' Source="Sources/Icons/SAN.ico" /> 
	<File Id="SKY.ico" Name='SKY.ico' Source="Sources/Icons/SKY.ico" /> 
	<File Id="SLV.ico" Name='SLV.ico' Source="Sources/Icons/SLV.ico" /> 
	<File Id="SME.ico" Name='SME.ico' Source="Sources/Icons/SME.ico" /> 
	<File Id="SQI.ico" Name='SQI.ico' Source="Sources/Icons/SQI.ico" /> 
	<File Id="SVE.ico" Name='SVE.ico' Source="Sources/Icons/SVE.ico" /> 
	<File Id="SWK.ico" Name='SWK.ico' Source="Sources/Icons/SWK.ico" /> 
	<File Id="SYR.ico" Name='SYR.ico' Source="Sources/Icons/SYR.ico" /> 
	<File Id="TAM.ico" Name='TAM.ico' Source="Sources/Icons/TAM.ico" /> 
	<File Id="TEL.ico" Name='TEL.ico' Source="Sources/Icons/TEL.ico" /> 
	<File Id="THA.ico" Name='THA.ico' Source="Sources/Icons/THA.ico" /> 
	<File Id="TRK.ico" Name='TRK.ico' Source="Sources/Icons/TRK.ico" /> 
	<File Id="TSN.ico" Name='TSN.ico' Source="Sources/Icons/TSN.ico" /> 
	<File Id="TTT.ico" Name='TTT.ico' Source="Sources/Icons/TTT.ico" /> 
	<File Id="UKR.ico" Name='UKR.ico' Source="Sources/Icons/UKR.ico" /> 
	<File Id="URD.ico" Name='URD.ico' Source="Sources/Icons/URD.ico" /> 
	<File Id="UZB.ico" Name='UZB.ico' Source="Sources/Icons/UZB.ico" /> 
	<File Id="VIT.ico" Name='VIT.ico' Source="Sources/Icons/VIT.ico" /> 
	<File Id="XHO.ico" Name='XHO.ico' Source="Sources/Icons/XHO.ico" /> 
	<File Id="ZUL.ico" Name='ZUL.ico' Source="Sources/Icons/ZUL.ico" /> 
</Include> 
